//prototyping colors

$pink: #FE4365;
$light-pink: #FC9D9A;
$champagne: #F9CDAD;
$light-green: #C8C8A9;
$green: #83AF9B;


//production colors




//production colors by name, as backup/alternative way to reference (not good practice)

